.header {
  display: flex;
  flex-direction: column;
  width: 254px;
  margin-bottom: 90px;
}

.header__logo {
  margin-top: 34px;
}

/*
@media screen and (max-width: 768px) {
  .header {
    background-color: aliceblue;
  }

  .header__logo {
    height: 66px;
    width: auto;
    margin-top: 30px;
    background-color: blanchedalmond;
  }
}
