.header {
  display: flex;
  flex-direction: column;
  width: 254px;
  margin: auto;
  margin-bottom: 90px;
}

.header__logo {
  margin-top: 34px;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
  .header__logo {
    height: 66px;
    width: auto;
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .header__logo {
    height: 52px;
    width: 188px;
    margin: auto;
  }
}
