.intro {
  display: flex;
  flex-direction: column;
  max-width: 830px;
  margin-top: 92px;
  margin-bottom: 92px;
}

.intro__title {
  color: #fff;
  font-family: "Inter Black";
  font-size: 54px;
  line-height: 58px;
  margin-top: auto;
  margin-bottom: 40px;
}

.intro__quote {
  width: 738px;
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 10px;
}

.intro__quote-author {
  width: 732px;
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: end;
}

.intro__content {
  width: 724px;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  line-height: 163%;
  margin: 0;
}
