.lead {
  width: 984px;
  height: 983px;
  margin: auto;
}

.lead__tittle {
  font-family: "Inter Black";
  width: 720px;
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
}

.lead__description {
  font-family: "Inter";
  width: 720px;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  margin: auto;
  margin-bottom: 64px;
  text-align: center;
}

.lead__image {
  width: 984px;
  height: 615px;
  filter: grayscale(100%);
}
