.lead {
  max-width: 984px;
  margin: auto;
}

.lead__title {
  font-family: "Inter Black";
  max-width: 720px;
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
}

.lead__description {
  font-family: "Inter";
  max-width: 720px;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  margin: auto;
  margin-bottom: 64px;
  text-align: center;
}

.lead__image {
  width: 100%;
  max-width: 984px;
  height: auto;
  aspect-ratio: 984 / 615;
  filter: grayscale(100%);
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
    margin-bottom: 25px;
  }

  .lead__description {
    margin-bottom: 30px;
  }

  .lead__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }

  .lead__description {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}
