@import url("../vendor/normalize.css");

@import url("../vendor/fonts.css");

@import url("../blocks/page.css");

@import url("../blocks/header.css");

@import url("../blocks/lead.css");

@import url("../blocks/intro.css");

@import url("../blocks/footer.css");

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
  .header__logo {
    height: 66px;
    width: auto;
    margin-top: 30px;
  }

  .lead {
    max-width: 768px;
  }

  .lead__tittle {
    font-size: 75px;
    line-height: 79px;
    margin-bottom: 25px;
  }

  .lead__description {
    margin-bottom: 30px;
  }

  .lead__image {
    width: 768px;
    height: 480px;
  }

  .intro {
    margin: auto;
    margin-top: 90px;
    max-width: 720px;
  }

  .intro__title {
    width: 707px;
    font-size: 45px;
    line-height: 49px;
    margin-bottom: 50px;
  }

  .intro__quote {
    width: 720px;
    margin-bottom: 0;
  }

  .intro__quote-author {
    width: 720px;
  }

  .intro__content {
    width: 720px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .header__logo {
    height: 52px;
    width: 188px;
    margin: auto;
  }

  .lead {
    max-width: 320px;
    margin-bottom: 64px;
  }

  .lead__tittle {
    width: 228px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }

  .lead__description {
    width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .lead__image {
    width: 320px;
    height: 200px;
  }

  .intro {
    width: 288px;
    margin: auto;
    margin-bottom: 64px;
  }

  .intro__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 40px;
  }

  .intro__quote {
    width: 288px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .intro__quote-author {
    width: 288px;
  }

  .intro__content {
    width: 288px;
    margin: auto;
  }
}
